@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: "Inter", sans-serif;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  
}
nav{
    display: flex;
    justify-content: space-between;
     padding-top: 1em;
     align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 1.5em;
}

.signin-btn{
    background-color: white ;
    border: 1px solid green;
    padding: 0.5em 1em;
    font-weight: bold;
    color: green;
    border-radius: 0.5em;
}