@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: "Inter", sans-serif;
}
body{
    background-color: #F5F5F5;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  
}
nav{
    display: flex;
    justify-content: space-between;
     padding-top: 1em;
     padding-bottom: 3em;
     align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 1.5em;
}

.signin-btn{
    background-color: #F5F5F5 ;
    border: 1px solid green;
    padding: 0.5em 1em;
    font-weight: bold;
    color: green;
    border-radius: 0.5em;
}

.section-one{
    background-color: #C6E4D6;
    border-radius: 2em;
}
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3em 0;
    
}

.pillar-head{
    padding: 3em 0;
}
.Innovation-divs{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding-bottom: 4em ;
}
.pillar-divs{
    background-color: white;
    padding: 1.5em 1em;
    border-radius: 1em;
}

.vision-divs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding-bottom: 4em ;
}

.pillar-divs:nth-child(1) .lbtn {
    background-color: #5490F5;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    margin-top: 1.5em;
    color: white;
}

.pillar-divs:nth-child(2) .lbtn {
    background-color: #09A15C;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    margin-top: 1.5em;
    color: white;
}

.pillar-divs:nth-child(3) .lbtn {
    background-color: #FFC239;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    margin-top: 1.5em;
    color: white;
}

.section-four{
 position: relative;
 background-color: white;
 padding: 2em 2em;
 border-radius: 1em;
 margin-bottom: 4em;
 
}

.quote-img{
    position: absolute;
}

h5{
    font-style: italic;
    color: gray;
}

th{
    text-align: left;
    margin: 0 1em;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td > button{
    padding: 0.5em 1em;
    margin: 0.5em 1em;
    background-color: #C6E4D6;
    
}
tr > td{
    text-align: center;
    
}
tr > th{
    padding: 1em 1em;
}

.table-head{
    background-color: #C6E4D6;
}

.section-five{
    padding: 2em 2em;
    background-color: white;
    border-radius: 1em;
}